{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">

    <link rel="shortcut icon" type="image/x-icon"
        href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAn0lEQVRIie2UPQ7CMAyFv5aeqWMnZo7CCVqpR+AszIiBkTP1h6GRaokY17QVDPmmF8V+8fMQSPyaTOjRqB2AZ9AlkC/x9jzgJQMoIhcnpeEInIO+AHel7ioPVkzJTWjN/I1YgtgkWiqzxpPgKz4l0KZ21aQV7b4ik79fkcnuCeRn1wGHjXx7wnak4QhUrE/VAy3w8DY2TCk7oF45RGLmBXiYF5zbQWYpAAAAAElFTkSuQmCC">
    <title>
        {% block page_name %}
        {% endblock page_name %}
    </title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


    <link rel="stylesheet" href="{% static "css/common.css" %}">


    {% block custom_css %}

    {% endblock custom_css %}

</head>

<body class="bg-write">
    {% include "partials/messages.html" %}
    {% include "partials/header.html" %}

    {% block content %}
    {% endblock content %}

    {% include "partials/footer.html" %}

    <script src="{% static "js/base.js" %}"></script>
    {% block script %}
    {% endblock script %}
</body>

</html>