<header
    class="container max-w-full flex items-center justify-between px-4 h-12 border-b fixed bg-white inset-0 bg-gray-800">
    <a class="p-4 -mt-1 text-center text-l font-semibold text-white text-2xl" href="/">Study Group</a>

    {% if user.is_authenticated %}
    <div class="float-right">
        <a href="{% url 'groups:manages' %}">
            <span class="p-4 rounded text-center text-l ml-2 font-semibold text-gray-400 text-lg hover:text-white">
                <b class="ml-1"></b>나의 그룹 보기</b>
            </span>
        </a>
        <a href="#">
            <span class="p-4 rounded text-center text-l ml-2 font-semibold text-gray-400 text-lg hover:text-white">
                <b class="ml-1"></b>{{user.username}}(님)</b>
            </span>
        </a>
        <a href="{% url 'user:logout' %}">
            <span class="p-4 rounded text-center text-l ml-2 font-semibold text-gray-400 text-lg hover:text-white">
                <b class="ml-1">Logout</b>
            </span>
        </a>
    </div>
    {% else %}
    <div>
        <a href="{% url 'users:login' %}">
            <span class="p-5 rounded text-center text-l font-semibold text-gray-400 text-lg hover:text-white">
                <b class="ml-1">Login</b>
            </span>
        </a>
        <a href="{% url 'users:signup' %}">
            <span class=" p-5 rounded text-center text-l ml-2 font-semibold text-gray-400 text-lg hover:text-white">
                <b class="ml-1">Signup</b>
            </span>
        </a>
    </div>
    {% endif %}


</header>