<header class="container max-w-full flex items-center justify-between px-5 h-20 border-b fixed bg-white inset-0">
    <a href="/">Home</a>
    <ul>
        {% if user.is_authenticated %}
        <li>
            <h3>{{user.username}}</h3>
        </li>
        <li><a href="{% url 'user:logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'users:login' %}">Login</a></li>
        <li><a href="{% url 'users:signup' %}"">Signup</a></li>
        {% endif %}
    </ul>

</header >