container_commands:
  01_makemigrations:
    command: "django-admin.py makemigrations"
  02_migrate:
    command: "django-admin.py migrate"
  03_createsu:
    command: "django-admin createsu"
  04_collectstatic:
    command: "django-admin collectstatic --noinput"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "config/wsgi.py"
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings