
/* Gray 라인 */

.bg-write {
    background-color:#f7fbfc;
}

.bg-custom-gray{
    background-color:#f0f1f5;
}

.bg-custom-gray-100{
    background-color:#eeeeee;
}



/* Brown 라인 */


.bg-custom-brown-100{
    background-color:#736d7a;
}

.bg-custom-brown-200{
    background-color:#aba7af;
}



.bg-custom-brown{
    background-color:#ad5f0c;
}

.bg-study{
    background-color:#78686f;
}

.bg-hobby{
    background-color:#ae9c8a;
}

.bg-reading{
    background-color:#3c48a2;
}

.bg-exercise{
    background-color:#7d4854;
}



.ellipsis {
    width: 300px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal !important;
    display: block;
}


/* 계획 상태 css */

.bg-enrollment {
    background-color:#ad5f0c;
}

.bg-confirm {
    
}

.bg-complete {
    background-color:#3c48a2;
}

.bg-success {
    background-color:#2f951e;
}


@media ( min-width: 640px ) {
    .main-image-height{
        height: 40vh;
    }

    .item-show{
        display:none;
    }

    .group-width{
        width: 500px;
    }
    
    .group_persons{
        width: 8rem;
    }

    .group_padding{
    }
}

@media ( max-width: 640px ) {
    .sm-text{
        font-size:12px;
    }

    .m-text{
        font-size:15px;
    }

    .main-image-height{
        height: 30vh;
    }

    .group_persons{
        width: 6rem;
    }

    .group_padding{
        padding: 0.5rem;
    }

    .group-width{
        width: 280px;
    }

    .item-hight{
        height: 30vh;
    }

    .item-show{
        display:block;
    }
    
    .item-hide{
        display:none;
    }
}