@tailwind base;
@tailwind components;

.btn{
    @apply w-full text-center rounded-sm py-5 text-lg;
}

.btn-link {
    @apply text-center py-3 rounded-lg font-light text-lg w-full text-white bg-red-500;
}

input,
textarea,
select {
    @apply rounded-sm py-5 font-light text-lg w-full text-left border-2 border-gray-400 px-5;
    &:focus {
      @apply outline-none border-blue-400;
    }
}

select {
    height: 80px;
  }

textarea{
    resize: none;
    height: 100px;
}

form{
    .input{
        @apply mb-2;
        &.has_error{
            input{
                @apply bg-red-400 border-red-800;
                &:focus{
                    @apply border-red-800;
                }
            }
        }
    }
}

@tailwind utilities;
