{% extends "partials/base.html" %}

{% block page_title %}
Group | Create
{% endblock page_title %}


{% block content %}

<div
    class="container lg:w-8/12 md:w-1/2 xl:w-5/12 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400 mt-32">

    <form class="lg:w-11/12 md:w-1/2 xl:w-11/12" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="{{form.photo.name}} flex ">
            <span class="w-3/12 p-5 text-center text-2xl bg-indigo-400 text-gray-100">그룹 사진</span>
            <span class="w-9/12">{{form.photo}}</span>
        </div>
        <div class="{{form.category.name}} mt-5">
            <span class="bg-blue-500 rounded-t-lg p-2 text-gray-100">카테고리</span>
            <span>{{form.category}}</span>
        </div>
        <div class="{{form.title.name}} mt-5">
            <span class="bg-blue-500 rounded-t-lg p-2 text-gray-100">제목</span>
            <span>{{form.title}}</span>
        </div>
        <div class="{{form.notice.name}} mt-5">
            <span class="bg-blue-500 rounded-t-lg p-2 text-gray-100">공지사항</span>
            <span class="h-full">{{form.notice}}</span>
        </div>
        <div class="{{form.contents.name}} mt-5">
            <span class="bg-blue-500 rounded-t-lg p-2 text-gray-100">설명글</span>
            <span>{{form.contents}}</span>
        </div>
        <div class="{{form.max_group_count.name}} mt-5">
            <span class="bg-blue-500 rounded-t-lg p-2 text-gray-100">최대그룹인원</span>
            <span>{{form.max_group_count}}</span>
        </div>
        <div class="{{form.planning_unit.name}} mt-5">
            <span class="bg-blue-500 rounded-t-lg p-2 text-gray-100">계획 단위</span>
            <span>{{form.planning_unit}}</span>
        </div>
        <button class="btn bg-red-500 mt-8 text-white">그룹 등록</button>
    </form>


</div>

{% endblock content %}