{% extends "partials/base.html" %}
{% load static %}

{% block page_name %}
Home
{% endblock page_name %}


{% block script %}
<script src="{% static "js/group/main/group_list.js" %}"></script>
{% endblock script %}


{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container mx-auto pb-10">
    <a href="{% url 'core:home' %}">
        <div class="rounded-lg bg-gray-800 mt-32 mb-8 bg-cover bg-center"
            style="height: 40vh; background-image:url('static/image/main_2.jpg')">
        </div>
    </a>
    <div class="search w-auto -mt-5 flex justify-between">
        <form class=" flex">
            <select class="filter text-sm" id="group_category" name="category">
                <option value="" class="">--선택--</option>
                <option value="S" {% if category == "S" %} selected {% endif %}>Study</option>
                <option value="R" {% if category == "R" %} selected {% endif %}>Reading</option>
                <option value="E" {% if category == "E" %} selected {% endif %}>Exercise</option>
                <option value="H" {% if category == "H" %} selected {% endif %}>Hobby</option>
            </select>
            <input class="filter ml-3" id="group_search" type="text" placeholder="Search Group Title.." name="title">
            <button id="filter_btn" class="bg-custom-brown-100 w-32 h-10 rounded-r hover:bg-gray-500">
                <i class="fa fa-search"></i></button>
        </form>

        <div class="flex ">
            {% if request.user.is_authenticated %}
            <a href="{% url 'groups:create-group' %}">
                <div class="w-48 h-10  text-center rounded bg-custom-brown-100 text-gray-100 p-1 text-xl float-right ">
                    그룹 등록 하기
                </div>
            </a>
            <!-- <a href="{% url 'groups:my-groups'%}">
                <div
                    class="w-48 h-10  text-center rounded bg-custom-brown-100 text-gray-100 p-1 ml-2 text-xl float-right ">
                    참여중인 그룹보기
                </div>
            </a> -->
            {% endif %}
        </div>
    </div>

    <div id="group_list" class=" mt-16">
        {% for group in groups%}
        {% include 'partials/group/group_box.html' with group=group my=False %}
        {%endfor%}
    </div>

    <div id="group_page" class="">
        {% if is_paginated %}
        <ul class="pagination float-right mt-8">
            <span>
                {% if page_obj.has_previous %}
                <li class="w-16 h-8 m-2 float-left"><a
                        href="/?category={% if category == None %}{%else%}{{category}}{% endif %}&title={% if title == None %}{%else%}{{title}}{% endif %}&page={{page_obj.previous_page_number}}">Previous</a>
                </li>
                {% endif %}

                {% for page in paginator.page_range%}
                <li class="w-4 h-8 m-2 float-left {%if page_obj.number == page %}text-indigo-600 font-bold {%endif%}">
                    <a
                        href="
                        /?category={% if category == None %}{%else%}{{category}}{% endif %}&title={% if title == None %}{%else%}{{title}}{% endif %}&page={{page}}">
                        {{page}}</a>
                </li>
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="w-16 h-8 m-2 float-left"><a
                        href="/?category={% if category == None %}{%else%}{{category}}{% endif %}&title={% if title == None %}{%else%}{{title}}{% endif %}&page={{page_obj.next_page_number}}">Next</a>
                </li>
                {% endif %}
            </span>
        </ul>
        {%endif%}
    </div>

</div>

{% endblock content %}