{% extends "partials/base.html" %}


{% block page_name %}
Group | Detail
{% endblock page_name %}

{% block script %}
<script>

    const join_or_exit_group = (func,status) => {

        {% if request.user.is_authenticated  %}
            const url = "{%url 'groups:join-group' group.pk %}";
            const massge = status == "JOIN" ? "그룹에 참여하시겠습니까?" : "그룹을 나가겠습니까?";
            
        {% else %}
            const url = "{%url 'groups:join-group' group.pk %}";
            const massge = "로그인후 가능합니다.";

        {% endif %}

        func(url,massge);
    }

</script>
{% endblock script %}


{% block content %}
<div class="group_detail container lg:w-8/12 md:w-1/2 xl:w-2/4 mx-auto my-10 flex flex-col p-6 mt-32">
    <div class="header flex">
        <span class="title border border-gray-400 w-10/12 p-6 text-2xl">
            {{group.title}}
        </span>
        <span class="user border border-gray-400  w-2/12 p-1  item-center ml-2 ">
            <div class="rounded w-full h-full text-center p-6 font-semibold text-white text-l bg-teal-400  ">
                <h2 class="mt-1">
                    {{group.leader}}
                </h2>
            </div>

        </span>
    </div>
    <div class="notice border border-gray-400 mx-auto  w-full p-6 mt-3 h-56 text-lg ">
        <h2>{{group.notice|linebreaks}}</h2>
    </div>
    <div class="contents border border-gray-400 mx-auto w-full p-6 mt-3" style="height:400px">
        <h2>{{group.contents|linebreaks}}</h2>

    </div>

    <div class="mt-4 ">
        {% if join %}
        {% if group.leader == request.user %}
        <button id="joinGroup" class="w-40 text-center float-right p-2 m-1 rounded bg-teal-500 text-white text-xl"
            onclick="location.href='{% url "groups:update-group" group.pk %}'">
            그룹 수정하기
        </button>
        {% else %}
        <button id="joinGroup" class="w-40 text-center float-right p-2 m-1 rounded bg-red-500 text-white text-xl"
            onclick="join_or_exit_group(request_POST,'EXIT')">
            그룹 나가기
        </button>
        {% endif %}
        
        <button id="createPlan" class="w-40 text-center float-right p-2 m-1 rounded bg-indigo-500 text-white text-xl"
            onclick="location.href='{% url "groups:plan-create" group.pk %}'">
            계획 등록하기
        </button>
        {%else%}

        {%if group.get_user_count != group.max_group_count%}
        <button id="joinGroup" class="w-40 text-center float-right p-2 m-1 rounded bg-red-500 text-white text-xl"
            onclick="join_or_exit_group(request_POST,'JOIN')">
            그룹 참여하기
        </button>
        {%endif%}

        {% endif %}
    </div>
    <div class="mt-4">

        <div class="float-right ">
            {% for user in group.users.all  %}
            <span class="p-2 rounded bg-gray-600  text-white ">{{user.username}}</span>
            {% endfor %}
        </div>
    </div>

    <div class="plan_list mt-5">

        {% for plan in plans %}
        <a href="{%url 'groups:plan-detail' group.pk plan.pk %}">
            <div class="plan_{{plan.id}} border border-gray400 rounded mt-3 p-3 bg-gray-100">

                <div class="detial max-w-full flex items-center justify-between">
                    <div class="p-2 bg-gray-100 font-bold text-lg">{{plan.user.username}}</div>
                    <div class="flex">
                        {% if plan.status == 'ENROLLMENT' %}
                        <div
                            class="border border-gray400 p-1 bg-blue-400 rounded-lg text-gray-100 text-center h-8 w-16 text-sm">
                            등록</div>
                        <div class="p-1 ml-1">{{plan.created}}
                        </div>
                        {% else %}
                        <div
                            class="border border-gray400 p-1 bg-indigo-400 rounded-lg text-gray-100 text-center h-8 w-16 text-sm">
                            수정</div>
                        <div class="p-1 ml-1"> {{plan.updated}}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="confirm max-w-full flex items-center justify-between mt-1">
                    <div class="flex">
                        {% if plan.status != COMPLETE %}
                        <div
                            class="border border-gray400 p-1 bg-teal-400 rounded-lg text-gray-100 text-center h-8 w-16 text-sm">
                            계획
                        </div>
                        <div class="p-1 ml-1">
                            {{plan.title_for_plan}}
                        </div>
                        {% else %}
                        <div
                            class="border border-gray400 p-1 bg-teal-400 rounded-lg text-gray-100 text-center h-8 w-16 text-sm">
                            결과</div>
                        <div class="p-1 ml-1">
                            {{plan.title_for_result}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="border border-gray400 p-1 rounded-lg text-gray-100 w-32 text-center h-8 text-sm
                        {%if plan.status == 'ENROLLMENT'%}
                        bg-teal-400  
                        {%elif plan.status == 'CONFIRM'%}
                        bg-indigo-400 
                        {%elif plan.status == 'COMPLETE'%}
                        bg-blue-400 
                        {%elif plan.status == 'FAIL'%}
                        bg-red-500 
                        {%elif plan.status == 'SUCCESS'%}
                        bg-green-400 
                        {%endif%}
                    ">
                        {{plan.status}}
                    </div>
                </div>
            </div>
        </a>

        {% endfor %}

    </div>
</div>


</div>
{% endblock content %}