{% extends "partials/base.html" %}
{% load static %}

{% block page_title %}
Group | Create
{% endblock page_title %}

{% block script %}
<script src="{% static "js/group.js" %}"></script>
{% endblock script %}


{% block content %}

<div
    class="container lg:w-8/12 md:w-1/2 xl:w-5/12 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400 mt-32">

    <form class="lg:w-11/12 md:w-1/2 xl:w-11/12" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="{{form.photo.name}} ">
            <div class="p-2 text-gray-800 text-lg"><b>그룹 사진</b></div>
            {% include "mixins/auth/form_input.html" with field=form.photo  %}
        </div>
        <div class="{{form.category.name}} mt-2">
            <div class="p-2 text-gray-800 text-lg"><b>카테고리</b>
            </div>
            {% include "mixins/auth/form_input.html" with field=form.category  %}
        </div>
        <div class="group_title mt-2">
            <div class="p-2 text-gray-800 text-lg"><b>제목</b></div>
            {% include "mixins/auth/form_input.html" with field=form.title  %}
        </div>
        <div class="{{form.notice.name}} mt-2">
            <div class="p-2 text-gray-800 text-lg"><b>공지사항</b></div>
            {% include "mixins/auth/form_input.html" with field=form.notice  %}
        </div>
        <div class="{{form.contents.name}} mt-2">
            <div class="p-2 text-gray-800 text-lg"><b>설명 글</b></div>
            {% include "mixins/auth/form_input.html" with field=form.contents  %}
        </div>
        <div class="{{form.max_group_count.name}} mt-2">
            <div class="p-2 text-gray-800 text-lg"><b>최대그룹인원</b></div>
            {% include "mixins/auth/form_input.html" with field=form.max_group_count  %}
        </div>
        <div class="{{form.planning_unit.name}} mt-2">
            <div class="p-2 text-gray-800 text-lg"><b>계획 단위</b></div>
            {% include "mixins/auth/form_input.html" with field=form.planning_unit  %}
        </div>
        <div id={{form.deadline_week.name}} class="{{form.deadline_week.name}} mt-2">
            <div class="p-2 text-gray-800 text-lg"><b>마감 요일</b></div>
            {% include "mixins/auth/form_input.html" with field=form.deadline_week  %}
        </div>
        <div id={{form.deadline_day.name}} class="{{form.deadline_day.name}} mt-2" hidden>
            <div class="p-2 text-gray-800 text-lg"><b>마감 시간</b></div>
            {% include "mixins/auth/form_input.html" with field=form.deadline_day  %}
        </div>
        <button class="btn bg-red-500 mt-8 text-white">그룹 등록</button>
    </form>


</div>

{% endblock content %}