{% extends "partials/base.html" %}
{% load static %}

{% block page_name %}
Group | Detail
{% endblock page_name %}

{% block script %}
<script src="{% static "js/group/group_detail.js" %}"></script>
{% endblock script %}


{% block content %}
<div class="group_detail container lg:w-10/12 md:w-10/12 xl:w-2/4 mx-auto my-10 flex flex-col p-6 mt-32">
    <div class="header flex">
        <span class="title border border-gray-400 w-10/12 p-6 font-bold text-xl bg-white">
            {{group.title}}
        </span>
        <span class="user border border-gray-400  w-2/12 p-1  item-center ml-2 ">
            <div class="rounded w-full h-full text-center p-6 font-semibold text-white text-lg bg-teal-400  ">
                {{group.leader}}
            </div>

        </span>
    </div>
    <div class="notice border border-gray-400 mx-auto  w-full p-6 mt-3 h-56 text-lg bg-white">
        <h2>{{group.notice|linebreaks}}</h2>
    </div>
    <div class="contents border border-gray-400 mx-auto w-full p-6 mt-3 bg-white" style="height:400px">
        <h2>{{group.contents|linebreaks}}</h2>

    </div>

    <div id="group_btn" class="mt-4 ">
        <div class="flex justify-end">
            {% if join %}
            {% if group.leader == request.user %}
            <button id="updateGroup" class="w-40 text-center p-2 m-1 rounded bg-teal-500 text-white text-xl"
                onclick="location.href='{% url "groups:update-group" group.pk %}'">
                그룹 수정하기
            </button>
            {% endif %}

            <button id="createPlan" class="w-40 text-center p-2 m-1 rounded bg-indigo-500 text-white text-xl"
                onclick="location.href='{% url "groups:plan-create" group.pk %}'">
                계획 등록하기
            </button>

            <button id="joinGroup" class="w-40 text-center p-2 m-1 rounded bg-red-500 text-white text-xl"
                onclick="join_or_exit_group(request_POST,'{%url "groups:join-group" group.pk %}', 'EXIT' )">
                그룹 나가기
            </button>

            {%else%}

            {%if group.get_user_count != group.max_group_count%}
            <button id="joinGroup" class="w-40 text-center p-2 m-1 rounded bg-red-500 text-white text-xl"
                onclick="join_or_exit_group(request_POST,'{%url "groups:join-group" group.pk %}', 'JOIN' )">
                그룹 참여하기
            </button>
            {%endif%}
            {% endif %}
        </div>
    </div>
    <div id="group_users" class="mt-10">
        <div class="mb-3">
            <b>참여인원</b>
        </div>
        <div class="float-left ">
            {% for user in group.users.all  %}
            <span class="user p-2 rounded bg-gray-600  text-white ">{{user.username}}</span>
            {% endfor %}
        </div>
    </div>

    <div class="plan_list mt-4">
        {% include 'partials/plan/plan_box.html' with plans=plans %}
    </div>

</div>


</div>
{% endblock content %}