{% extends "partials/base.html" %} 
{% block page_name %} Login 
{% endblock page_name %}
{% block content %}

<div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400 mt-56">
  {% csrf_token %} 
  {% include "mixins/auth/auth_form.html" with form=form cta="Login" %}

  <div class="mt-5">
    <div class="text-center p-1">
        <span class="mr-2"> 비밀번호를 잃어버리셨습니까?</span>
        <a  href="{% url 'user:findpassword'%}" class="text-teal-500 font-semibold">비밀번호 찾기</a>
    </div>
    <div class="text-center p-1">
        <span class="mr-2">회원이 아니신가요?</span>
        <a  href="{% url 'user:signup'%}" class="text-teal-500 font-semibold">지금 가입하세요</a>
    </div>
  </div>
</div>

{% endblock content %}
