{% extends "partials/base.html" %}

{% block page_name %}
Change Password
{% endblock page_name %}

{% block content %}

<div
    class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400 mt-32">

    <form class="lg:w-11/12 md:w-1/2 xl:w-11/12" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="{{form.old_password.name}} ">
            <div class="p-2 text-gray-800 text-lg"><b>기존 비밀번호</b></div>
            {% include "mixins/auth/form_input.html" with field=form.old_password  %}
        </div>
        <div class="{{form.new_password1.name}} ">
            <div class="p-2 text-gray-800 text-lg"><b>변경하실 비밀번호</b></div>
            {% include "mixins/auth/form_input.html" with field=form.new_password1  %}
        </div>
        <div class="{{form.new_password2.name}} ">
            {% include "mixins/auth/form_input.html" with field=form.new_password2  %}
        </div>
        <button class="btn bg-red-500 mt-8 text-white">비밀 번호 변경</button>
    </form>
</div>

{% endblock content %}