{% extends "partials/base.html" %}
{% load static %}

{% block page_name %}
Plan | Detail
{% endblock page_name %}


{% block script %}
<script src="{% static "js/plan/plan_detail.js" %}"></script>
{% endblock script %}

{% block content %}
<div class="group_detail container lg:w-8/12 md:w-1/2 xl:w-2/4 mx-auto my-10 flex flex-col p-6 mt-32">

    <b class="text-center text-3xl">
        {% if plan.check_deadline %}
        <b class="text-red-600 ">{{plan.user.first_name}} 의 계획 (마감)</b>
        {%else%}
        <b class="">{{plan.user.first_name}} 의 계획</b>
        {% endif %}
    </b>

    <div class="flex justify-between mt-5">
        <div></div>
        <a href="javascript:history.back()" class=" font-semibold text-lg">뒤로가기</a>
    </div>
    <div class="mt-4 p-3 text-white text-xl bg-indigo-400">
        <h2 class="ml-3">진행 계획</h2>
    </div>
    <div class="title border border-gray-400 mx-auto text-xl w-full p-3 mt-1 bg-white">
        <p class="ml-3 overflow-hidden">{{plan.title_for_plan}}</p>
    </div>
    <div class="contents border border-gray-400 mx-auto w-full p-6 mt-1 bg-white" style="height:400px">
        <p class="h-full w-full ">{{plan.contents_for_plan|linebreaksbr}}</p>
    </div>
    <div class="mt-6 p-3 text-white text-xl bg-indigo-500">
        <h2 class="ml-3">첨부파일</h2>
    </div>

    {% if plan.get_planFiles %}
    <div class="contents border border-gray-400 mx-auto w-full p-6 mt-1 bg-white">
        {% for planFile in plan.get_planFiles %}
        <div>
            <div class="flex">
                <a href='{{planFile.file.url}}' download class="bg-gray-300 p-3 m-2 rounded w-full hover:bg-gray-500">
                    {{planFile.caption}}
                </a>

                {% if request.user == plan.user %}
                <button
                    onclick="plan_file_delete('{%url "groups:planfile-delete" plan.group.pk plan.pk planFile.pk %}')"
                    class=" p-3 m-2 rounded text-gray-100 text-lg w-32 text-center bg-red-400 hover:bg-red-600"
                    type="button">
                    삭제
                </button>
                {% endif %}
            </div>
        </div>

        {% endfor %}
    </div>
    {% else%}
    <div class="contents border border-gray-400 mx-auto w-full p-6 mt-1 bg-white">
        <span class="p-2 m-2">첨부된 파일이 없습니다.</span>
    </div>
    {% endif %}

    {% if plan.status == 'COMPLETE' or plan.status == 'SUCCESS'%}
    <div class="mt-6 p-3 text-white text-xl bg-purple-500">
        <h2 class="ml-3">계획 결과 보고</h2>
    </div>
    <div class="title border border-gray-400 mx-auto text-xl w-full p-3 mt-1 bg-white">
        <h2 class="ml-3">{{plan.title_for_result}}</h2>
    </div>
    <div class="contents border border-gray-400 mx-auto w-full p-6 mt-1 bg-white" style="height:400px">
        <h2>{{plan.contents_for_result}}</h2>
    </div>
    <div class="mt-6 p-3 text-white text-xl bg-purple-600">
        <h2 class="ml-3">첨부파일</h2>
    </div>
    {% if plan.get_resultfiles %}
    <div class="contents border border-gray-400 mx-auto w-full p-6 mt-1 bg-white">
        {% for resultFile in plan.get_resultfiles %}

        <a href='{{resultFile.file.url}}' download>
            <div class="flex">
                <a href='{{resultFile.file.url}}' download class="bg-gray-300 p-3 m-2 rounded w-full hover:bg-gray-500">
                    {{resultFile.caption}}
                </a>
                {% if request.user == plan.user %}
                <button
                    onclick="result_file_delete('{%url "groups:resultfile-delete" plan.group.pk plan.pk resultFile.pk %}')"
                    class=" p-3 m-2 rounded text-gray-100 text-lg w-32 text-center bg-red-400 hover:bg-red-600"
                    type="button">
                    삭제
                </button>
                {% endif %}
            </div>
        </a>

        {% endfor %}
    </div>
    {% else%}
    <div class="contents border border-gray-400 mx-auto w-full p-6 mt-1 bg-white">
        <span class="p-2 m-2">첨부된 파일이 없습니다.</span>
    </div>
    {% endif %}
    {% endif %}

    {% if plan.check_deadline %}
    <div>
        <a href="{% url 'groups:detail' plan.group.pk%}"
            class="float-right w-32 p-2 m-2 w-48 rounded bg-red-500 text-white text-center text-xl">
            마감되었습니다.
        </a>
    </div>
    {%else%}
    {% if plan.user == request.user %}
    <div>
        <button class="float-right w-32 p-2 m-2 rounded bg-red-500 text-white text-center text-xl"
            onclick='plan_delete(request_POST,"{%url 'groups:plan-delete' plan.group.pk plan.pk %}")'>
            계획 삭제
        </button>

        {% if plan.status == 'CONFIRM' %}
        <a href="{%url 'groups:plan-update' plan.group.pk plan.pk %}"
            class="float-right w-32 p-2 m-2 w-48 rounded bg-teal-500 text-white text-center text-xl">
            결과 보고 작성
        </a>
        {%elif plan.status == 'ENROLLMENT' %}
        <a href="{%url 'groups:plan-update' plan.group.pk plan.pk %}"
            class="float-right w-32 p-2 m-2 rounded bg-blue-500 text-white text-center text-xl">
            계획 수정
        </a>
        <a href="{%url 'groups:plan-upload' plan.group.pk plan.pk %}"
            class="float-right w-32 p-2 m-2 rounded bg-green-500 text-white text-center text-xl">
            파일 첨부
        </a>
        {% endif %}
    </div>
    {% else%}
    <div>
        {% if plan.status == "ENROLLMENT" %}
        <button onclick=' plan_confirm(request_POST, "{%url 'groups:plan-change-status' plan.group.pk plan.pk %}")'
            class="float-right w-32 p-2 m-2 rounded bg-blue-500 text-white text-center text-xl">
            계획 승인
        </button>
        {% elif plan.status == 'COMPLETE'%}
        <button onclick=' plan_confirm(request_GET, "{%url 'groups:plan-feedback' plan.group.pk plan.pk%}")'
            class="float-right w-48 p-2 m-2 rounded bg-blue-500 text-white text-center text-xl">
            최종 계획 승인
        </button>
        {% elif plan.status == 'SUCCESS'%}
        <a href='{%url 'groups:plan-feedback' plan.group.pk plan.pk%}'
            class="float-right w-48 p-2 m-2 rounded bg-blue-500 text-white text-center text-xl">
            피드백 작성
        </a>
        {% endif %}

    </div>
    {% endif %}
    {% endif %}

</div>
{% endblock content %}