{% extends "partials/base.html" %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static "css/custom.css" %}">
{% endblock custom_css %}

{% block page_name %}
My Plans
{% endblock page_name %}



{% block content %}


{% if plans %}

<div class="container mx-auto pb-10 lg:w-8/12 md:w-1/2 xl:w-2/4">
    <div class="grid mx-16 mt-32">
        <div class="p-2 font-bold max-w-full justify-between items-center flex">
            <b class="text-3xl">
                GROUP : {{group.title}}
            </b>
            <a href="javascript:history.back()" class="text-lg mt-8 hover:text-indigo-600">
                뒤로가기
            </a>
        </div>
        {% for plan in plans %}
        <a href="{%url 'groups:plan-detail' group.pk plan.pk %} ">
            <div class="plan_{{plan.id}} border 
                {% if plan.check_deadline %}
                    bg-gray-400 
                {%else%}
                    bg-gray-100  
                {% endif %}

                rounded mt-3 p-3 border-gray-400 
            ">

                <div class="detial max-w-full flex items-center justify-between">
                    <div class="p-2 font-bold text-lg">{{plan.user.username}}</div>
                    <div class="flex">

                        <div
                            class="border border-gray400 p-1 bg-blue-400 rounded-lg text-gray-100 text-center h-8 text-sm">
                            등록일 : {{plan.get_created}}
                        </div>
                        <div
                            class="border border-gray400 p-1 bg-red-400 rounded-lg text-gray-100 text-center h-8 text-sm ml-2">
                            마감일 : {{plan.get_deadline}}
                        </div>

                        {% if plan.get_feedbacks > 0 %}
                        <div class="p-1 ml-1 bg-red-500 rounded-full w-8 text-center text-white">
                            {{plan.get_feedbacks}}
                        </div>
                        {% endif %}

                    </div>
                </div>
                <div class="confirm max-w-full flex items-center justify-between mt-1">
                    <div class="flex">
                        {% if plan.status != 'COMPLETE' %}
                        <div
                            class="border border-gray400 p-1 bg-teal-500 rounded-lg text-gray-100 text-center h-8 w-16 text-sm">
                            <b>계획</b>
                        </div>
                        <div class="p-1 ml-1">
                            {{plan.title_for_plan}}
                        </div>
                        {% else %}
                        <div
                            class="border border-gray400 p-1 bg-blue-500 rounded-lg text-gray-100 text-center h-8 w-16 text-sm">
                            <b>결과</b>
                        </div>
                        <div class="p-1 ml-1">
                            {{plan.title_for_result}}
                        </div>
                        {% endif %}
                    </div>

                    {% if plan.check_deadline %}
                    <div
                        class="border border-gray400 p-1 rounded-lg text-gray-100 w-32 text-center h-8 text-sm bg-red-600  ">
                        마감
                    </div>
                    {%else%}

                    <div class="border border-gray400 p-1 rounded-lg text-gray-100 w-32 text-center h-8 text-sm
                        {%if plan.status == 'ENROLLMENT'%}
                        bg-teal-400  
                        {%elif plan.status == 'CONFIRM'%}
                        bg-indigo-400 
                        {%elif plan.status == 'COMPLETE'%}
                        bg-blue-400 
                        {%elif plan.status == 'SUCCESS'%}
                        bg-green-400 
                        {%endif%}
                    ">
                        {{plan.status}}
                    </div>
                    {% endif %}
                </div>
            </div>
        </a>

        {% endfor %}

        {% if is_paginated %}
        <div>
            <ul class="pagination float-right mt-8">
                <span>
                    {% if page_obj.has_previous %}
                    <li class="w-16 h-8 m-2 float-left"><a href="/?page={{page_obj.previous_page_number}}">Previous</a>
                    </li>
                    {% endif %}

                    {% for page in paginator.page_range%}
                    <li
                        class="w-4 h-8 m-2 float-left {%if page_obj.number == page %}text-indigo-600 font-bold {%endif%}">
                        <a href="/?page={{page}}">{{page}}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="w-16 h-8 m-2 float-left"><a href="/?page={{page_obj.next_page_number}}">Next</a></li>
                    {% endif %}
                </span>
                {%endif%}
            </ul>
        </div>
    </div>
</div>

{% else %}
{% include 'partials/no_list_page.html' with text='해당 그룹에 계획이 존재하지 않습니다.' %}
{% endif %}

{% endblock content %}