{% extends "partials/base.html" %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static "css/custom.css" %}">
{% endblock custom_css %}

{% block page_name %}
My Plans
{% endblock page_name %}


{% block content %}
{% if plans %}
<div class="container mx-auto pb-10 lg:w-8/12 md:w-1/2 xl:w-2/4">
    <div class="grid mt-32">
        <div class="p-2 font-bold max-w-full justify-between items-center flex">
            <b class="text-3xl">
                GROUP : {{group.title}}
            </b>
            <a href="javascript:history.back()" class="text-lg mt-8 hover:text-indigo-600">
                뒤로가기
            </a>
        </div>

        <div class="plan_list mt-4">
            {% include 'partials/plan/plan_box.html' with plans=plans %}
        </div>

        <div id="plan_page">
            {% if is_paginated %}
            <ul class="pagination float-right mt-8">
                <span>
                    {% if page_obj.has_previous %}
                    <li class="w-16 h-8 m-2 float-left"><a href="/?page={{page_obj.previous_page_number}}">Previous</a>
                    </li>
                    {% endif %}

                    {% for page in paginator.page_range%}
                    <li
                        class="w-4 h-8 m-2 float-left {%if page_obj.number == page %}text-indigo-600 font-bold {%endif%}">
                        <a href="/?page={{page}}">{{page}}</a></li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="w-16 h-8 m-2 float-left"><a href="/?page={{page_obj.next_page_number}}">Next</a></li>
                    {% endif %}
                </span>

            </ul>
            {%endif%}
        </div>
    </div>
</div>

{% else %}
{% include 'partials/no_list_page.html' with text='해당 그룹에 계획이 존재하지 않습니다.' %}
{% endif %}

{% endblock content %}