{% extends "partials/base.html" %}
{% load static %}

{% block page_title %}
Plan | Update
{% endblock page_title %}

{% block script %}
<script src="{% static "js/plan/plan_update.js" %}"></script>
{% endblock script %}

{% block content %}

<div
    class="container lg:w-8/12 md:w-1/2 xl:w-6/12 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400 mt-32">

    <form class="lg:w-11/12 md:w-1/2 xl:w-11/12" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="{{form.title_for_plan.name}}">
            <div class="explanation"><b>제목</b></div>
            {% include "mixins/auth/form_input.html" with field=form.title_for_plan  %}
        </div>
        <div class="{{form.contents_for_plan.name}} mt-5">
            <div class="explanation"><b>계획 내용</b></div>
            {% include "mixins/auth/form_input.html" with field=form.contents_for_plan  %}
        </div>

        {% if plan.status != "ENROLLMENT" %}
        <div id="title_for_result" class="{{form.title_for_result.name}} mt-5">
            <div class="explanation"><b>결과 보고 제목</b></div>
            {% include "mixins/auth/form_input.html" with field=form.title_for_result  %}
        </div>
        <div id="contents_for_result" class="{{form.contents_for_result.name}} mt-5">
            <div class="explanation"><b>결과 보고 내용</b></div>
            {% include "mixins/auth/form_input.html" with field=form.contents_for_result  %}
        </div>
        <div class="mt-6 p-3 text-white text-xl bg-indigo-500">
            <h2 class="ml-3">첨부파일</h2>
        </div>
        {% if plan.get_resultfiles %}
        <div class="contents border border-gray-400 mx-auto w-full p-6 mt-1 bg-gray-100">
            {% for resultFile in plan.get_resultfiles %}

            <div class="flex">
                <a href='{{resultFile.file.url}}' download class="bg-gray-300 p-3 m-2 rounded w-full hover:bg-gray-500">
                    {{resultFile.caption}}
                </a>
                {% if request.user == plan.user %}
                <button
                    onclick="result_file_delete('{%url "groups:resultfile-delete" plan.group.pk plan.pk resultFile.pk %}')"
                    class=" p-3 m-2 rounded text-gray-100 text-lg w-32 text-center bg-red-400 hover:bg-red-600"
                    type="button">
                    삭제
                </button>
                {% endif %}
            </div>


            {% endfor %}
        </div>
        {% else%}
        <div class=" contents border border-gray-400 mx-auto w-full p-6 mt-1 bg-gray-100">
            <span class="p-2 m-2">첨부된 파일이 없습니다.</span>
        </div>
        {% endif %}
        {% endif %}


        {% if plan.status != 'ENROLLMENT' %}
        <div>
            <a href="{%url 'groups:result-upload' plan.group.pk plan.pk %}"
                class="float-right w-32 p-2 m-2 rounded bg-green-500 text-white text-center text-xl">
                파일 첨부
            </a>
        </div>
        {% endif %}

        <div class="flex mt-16">
            {% if plan.status == 'CONFIRM' %}
            <span class="flex-1 m-1 p-1 rounded">
                <button class="btn bg-teal-500 text-white text-lg">임시 저장</button>
            </span>
            <span class="flex-1 m-1 p-1 rounded">
                <div type="button" onclick='confirm_complete()'
                    class="btn bg-indigo-500 text-white text-lg cursor-pointer">
                    결과보고 제출
                </div>
            </span>
            {% else%}
            <span class="flex-1">
                <button class="btn bg-indigo-500 text-white text-lg">계획 수정하기</button>
            </span>
            {% endif %}
        </div>
    </form>


</div>

{% endblock content %}